@using RhinoTech.App.Models.HelperModels;
@{
    Layout = null;

    GlobalModel global = ViewBag.Global;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>RhinoTech</title>
    <meta name="description" content="Description" />

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Css/Site.css" rel="stylesheet" />
    <link href="~/Content/Css/OffCanvas.css" rel="stylesheet" />

</head>
<body>

    @*This is just a helper to show what size we are currently viewing*@
    <div style="position:fixed; bottom:0; height:20px; width: 100px; z-index: 1000;">
        <div class="hidden-xs hidden-sm" style="background: green;">Desktop</div>
        <div class="hidden-xs hidden-md hidden-lg" style="background:yellow;">Tablet</div>
        <div class="hidden-sm hidden-md hidden-lg" style="background:blue;">Phone</div>
    </div>


    

    <div class="row-offcanvas row-offcanvas-right">
        <div class="overlay" data-toggle="offcanvas"></div>
        <header class="container">
            <div class="header-logo">
                <div class="header-logo-content">
                    <a href="/" title="Back to frontpage">
                        <div class="logo-image">
                            <img src="~/Content/Images/Logo.png" />
                        </div>
                        <div class="logo-text">
                            <div class="logo-name">RhinoTech</div>
                            <div class="logo-slogan">"Rock-steady solutions!"</div>
                        </div>
                    </a>
                </div>
            </div>

            @if (global.MainMenu != null && global.MainMenu.Any())
            {
                <nav class="hidden-xs hidden-sm">
                    
                    <ul>
                        @foreach (var item in global.MainMenu)
                        {
                            if(item != null)
                            { 
                                <li @Html.Raw(item.Active ? "class=\"active\"" : string.Empty)><a href="@item.Url" title="@item.Name">@item.Name</a></li>
                            }
                        }
                    </ul>
                </nav>
            }
            <button class="hidden-md hidden-lg btn btn-default mobile-menu-toggle" data-toggle="offcanvas">Menu</button>
            @Html.Action("MemberLogin", "MemberLoginSurface")


            @*
                @if (User.Identity.IsAuthenticated)
                {
                    <p>Logged in: @User.Identity.Name</p>
                    <p>@Html.ActionLink("Log out", "MemberLogout", "MemberLoginSurface")</p>
                }
                else
                {
                    <button class="btn btn-default" data-toggle="modal" data-target="#login-form">Login</button>
                }*@

        </header>
        <hr class="no-margin" />
        <div>
            @RenderSection("PreContent", false)
        </div>
        <div class="container canvas">
            @RenderBody()
        </div>

        <hr />
        <footer class="text-center">
            Svendeprøve Data Tekniker&nbsp;&nbsp;|&nbsp;&nbsp;Projekt af: Mads Tjørnfelt, Christian Skov Roulund, Sebastian Hvenegaard, Mads Jensen&nbsp;&nbsp;|&nbsp;&nbsp;© RhinoTech 2015
        </footer>

        @*Mobile "off canvas" menu*@
        <div class="sidebar-offcanvas hidden-md hidden-lg" id="sidebar">
            <button class="btn btn-default" data-toggle="offcanvas">Close X</button>
            <ul>
                <li><a href="/" title="Forside">Forside</a></li>
                @foreach (var item in global.MainMenu)
                {
                    <li @Html.Raw(item.Active ? "class=\"active\"" : string.Empty)><a title="@item.Name" href="@item.Url">@item.Name</a></li>
                }
            </ul>
        </div>
    </div>


    @*Libraries and frameworks*@
    <script src="~/scripts/jquery-2.1.3.min.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>

    @*Custom*@
    <script src="~/scripts/Custom/LoginForm.js"></script>
    <script src="~/scripts/Custom/OffCanvas.js"></script>

    @RenderSection("scripts", false)

</body>
</html>